input {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
}

.options {
    border: 1px solid black;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    max-height: 200px;
    overflow-y: auto;
}

.option {
    border-bottom: 1px solid black;
}

.option:hover{
    background-color: darkgrey;
    cursor: pointer;
}